<mz-modal #modal [fixedFooter]="true" [bottomSheet]="false" [options]="modalOptions">
  <mz-modal-header>
    <h4>Create Campaign</h4>
  </mz-modal-header>
  <mz-modal-content>
    <app-add-campaign-form #form></app-add-campaign-form>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>Cancel</button>
    <button mz-button #createCampaignButton [disabled]="!form.form.valid"
            (click)="handleCreateCampaignClicked()">Create
    </button>
  </mz-modal-footer>
</mz-modal>
