<header>
    <mz-navbar>
      <a href="#" class="brand-logo">{{title}}</a>
      <mz-navbar-item-container [align]="'right'" *ngIf="isLoggedIn">
        <mz-navbar-item><a routerLink="/campaigns" routerLinkActive="active">Campaigns</a></mz-navbar-item>
        <mz-navbar-item><a routerLink="/maps" routerLinkActive="active">Maps</a></mz-navbar-item>
        <mz-navbar-item><a routerLink="/units" routerLinkActive="active">Units</a></mz-navbar-item>
        <mz-navbar-item><a routerLink="/packages" routerLinkActive="active">Packages</a></mz-navbar-item>
        <mz-navbar-item>
          <a class="dropdown-button" href="javascript:void(0)" data-activates="account-dropdown">
            {{email}}
            <i class="material-icons right">arrow_drop_down</i>
          </a>
        </mz-navbar-item>
      </mz-navbar-item-container>
    </mz-navbar>

    <ul id="account-dropdown" class="dropdown-content">
      <li><a href="javascript:void(0)" routerLink="/logout">Sign Out</a></li>
    </ul>
</header>
