.divider-vertical {
  border-right: 1px solid #9a9da0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.brand-logo {
  padding-left: 15px;
}

mz-navbar-item a.active {
  background-color: rgba(0,0,0,0.1);
}
