<!-- Table -->
<div class="row">
  <div class="col s12">
    <ngx-datatable class="material"
                   [rows]="rows$ | async"
                   [rowHeight]=70
                   [headerHeight]=50
                   [columnMode]="flex">
      <ngx-datatable-column name="Campaign Name" [width]="200" [flexGrow]="1">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{row['Campaign Name']}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Packages" [flexGrow]="3">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{row['Packages'] == null || row['Packages'].length == 0 ? "[None]" : row['Packages'].join(', ')}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="" [flexGrow]="1">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <button class="red right" (click)="deleteCampaignModal.openModal(row['campaignId'], row['Campaign Name'])"
                  [float]="true" mz-button>
            <i class="material-icons">delete</i>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>

<!-- Add Campaign Button -->
<div class="row">
  <div class="col s12 center-align">
    <button mz-button [float]="true" (click)="addCampaignModal.openModal()">
      <i class="material-icons">add</i>
    </button>
  </div>
</div>

<!-- Modals -->
<app-add-campaign-modal #addCampaignModal></app-add-campaign-modal>
<app-delete-campaign-modal #deleteCampaignModal></app-delete-campaign-modal>
